<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="Connexion.css">
    <link rel="stylesheet" href="css/all.css">
    <title>Local'Bio</title>
</head>


<body>
    <!--BANDEAU CONNEXION-->
    <div class="BandeauConnexion">
        <div class="container">
            <span>Bienvenue dans votre magasin</span>
            <div class="IconLogin">
                <a href="connexion.html"><i class="fas fa-user"></i></a>
                <a><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
    <!--FIN BANDEAU CONNEXION-->
    <!--NAVBAR-->
    <div class="NavBarBox">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="shop.html">Boutique</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="about.html">A propos</a>
                        </li>
                
                    </ul>
                    <!--<a class="navbar-brand" href="#"><img src="img/logo.png" alt="logo de la boutique"
                    class="LogoNavBar"></a>-->
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <!--FIN NAVBAR-->
    <!--FENETRE CONNEXION-->
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <div class="ConnexionBox">
                    <h2 class="TitleConnexion">Connectez-Vous A Votre Compte</h2>
                    <form class="FormConnexion">
                        <input type="text" placeholder="Nom d'utilisateur" class="InputConnexion">
                        <input type="password" placeholder="Mot de passe" class="InputConnexion">
                        <input type="submit" value="Connexion" class="ConnexionSubmit">
                    </form>
                </div>
                <div class="RegisterBox">
                    <span>Nouveau sur Organico ?</span><a href="Inscription.html" class="LienSubscribe">S'inscrire</a>
                </div>
            </div>
            <a class="ForgotPassword">MOT DE PASSE OUBLIE ?</a>
        </div>
    </div>
    <!--FIN FENETRE CONNEXION-->
          <!--FOOTER-->
          <section>
            <div class="BoxFooter">
                <div class="BoxImageFooter2">
                    <div class="container">
                        <div class="BoxSubscribe">
                            <div class="subscribe">
                                <span>Abonnez-vous a notre newsletter</span>
                                <button class="abonner">S'abonner</button>
                            </div>
                        </div>
                        <div class="BoxLien">
                            <div>
                                <h4 class="TitleFooter">Liens</h4>
                                <li>Home</li>
                                <li>Shop</li>
                                <li>About</li>
                            </div>
                            <div>
                                <h4 class="TitleFooter">Informations</h4>
                                <li>48 rue de la promenade, Colmar
                                </li>
                                <li>1-888-452-1505</li>
                                <li>Heures d'ouverture:</li>
                                <li>Lun – Sam : 8h – 17h,
                                    Dimanche : FERMÉ
                                </li>
                            </div>
                            <div>
                                <h4 class="TitleFooter">Instagram</h4>
                                <img src="img/potager.jpg" alt="potager" class="potagerPhoto"></img>
                                <img src="img/potager2.jpg" alt="potager" class="potagerPhoto"></img>
                                <img src="img/potager3.jpg" alt="potager" class="potagerPhoto"></img>
                                <img src="img/potager4.jpg" alt="potager" class="potagerPhoto"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>