@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cardo:ital@1&family=Open+Sans:wght@300&display=swap');

/*BANDEAU CONNEXION*/

.BandeauConnexion{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #76A713;
    color: white;
    height: 3rem;
}

.IconLogin{
    display: inline-flex;
    float: right;
}

.fa-user{
    margin-right: 8px;
    text-decoration: none;
    color: white;
}

.Bienvenue{
    position: absolute;
}

@media screen and (max-width: 736px) 
{ 
    .BandeauConnexion{
        font-size: 15px;
        height: 2rem;
    }

}

/*FIN BANDEAU CONNEXION*/

/*NAVBAR*/

.bg-light{
    background-color: white !important;
}

.btn.btn-outline-success{
    border-color: #76A713;
    color: #76A713;
}
.btn.btn-outline-success:hover{
    background-color: #76A713;
    color: white;
}

a.nav-link{
    font-size: 1.5rem;
    color: black;
}

@media screen and (max-width: 768px) 
{ 
    a.nav-link{
        font-size: 1rem;
    }
}

/*FIN NAVBAR*/
/*BANDEAU SHOP*/

.ShopBandeau{
    padding: 0;
}

@media screen and (max-width: 768px) 
{ 
    img.img-fluid{
        max-width: 100%;
        height: auto;
    }
}

/*FIN BANDEAU SHOP*/
/*ARTICLE*/

.BoxOrangeImage{
    margin-top: 4rem;
    width: 540px;
    height: 450px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.BoxTextProduit{
    margin-top: 4rem;
    width: 590px;
    height: 550px;
}

.Tiltleproduct{
    font-weight: bold;
    margin-top: 1rem;
    font-family: 'Lora', serif;
    font-size: 2rem;
}

.fa-star{
    margin-top: 1rem;
    color: #EFB343;
}

.Price{
    margin-top: 2rem;
    color: #76A713;
    font-size: 1.5rem
}

.Dexription{
    margin-top: 1rem;
    color: #373737;
}

.Poids{
    margin-top: 2rem;
}

.PoidsMenu{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
    width: 450px;
}

.PoidsChoixFirst{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
}

.PoidsChoix{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 30px;
    width: 120px;
    color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
}


.ChoixProduitBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 3rem;
    margin-right: 12rem;
}

.ChoixNumber{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-minus{
    color: #373737;
    margin-top: 10px;
    margin-right: 1rem;
}

.NumberChoice{
    color: #76A713;
    font-size: 3rem;
}

.fa-plus{
    margin-top: 10px;
    color: #373737;
    margin-left: 1rem;
}

.ButtonAddPanier{
    background-color: #76A713;
    height: 60px;
    width: 250px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.fa-shopping-cart{
    color: white;
    margin-right: 2rem;

}

.AddPanier{
    color: white;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) 
{ 
    .BoxOrangeImage{
        width: 350px;
        height: 350px;
    }

    .Dexription{
        width: 355px;
    }

    .PoidsMenu{
        width: 355px;
        font-size: 0.8rem;
    }

    .ButtonAddPanier{
        width: 230px;
        height: 40px;
        margin-right: 3rem;
    }

    .NumberChoice{
        width: 12px;
        height: 52px;
        margin-bottom: 1.5rem;
    }
}

/* AVIS */


.nav-tabs{
    color: #373737;
}


.nav-link{
    color: #373737;
}

.nav-link:hover{
    color: #373737;
}

ul.nav-tabs .nav-link.active{
    background-color: #76A713;
    color: white;
}

.tab-pane{
    margin-top: 2rem;
    color: #373737;
}

.table{
    border: 1px solid #373737;
}

.TableCase{
    border: 1px solid #373737;
}

.AvisBox{
    padding-right: 2rem;
    padding-top: 1.5rem;
    text-align: start;
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 600px;
    height: 200px;
}

.BoxFormulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 400px;
    height: 600px;
    padding: 2rem;
}

.BoxPaddingAvis{
    padding: 1rem;
}

.NameAvis{
    margin: 0;
    font-size: 1.2rem;
}

.DateAvis{
    margin-top: 2rem;
    color: #76A713;
}

.TextAvis{
    margin: 0;
    margin-top: 0.5rem;
    color: #373737;
}

.Note{
    margin-top: 0.75rem;
}

.ProfilAvis{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    float: left;
    height: 80px;
    width: 80px;
}

.AvisBoxText{
    margin-left: 8rem;
}

.Box{
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;  
    align-items: center;
    width: 400px;
    height: 600px;
    padding: 2rem;
}

.ButtonSubmit{
    border-style: none;
    background-color: #76A713;
    color: white;
    font-size: 1.2rem;
    height: 45px;
    width: 170px;
    border-radius: 25px;
}

input{
    border-style: solid;
    text-align: center;
    border-radius: 0.5px;
    border-color: #9A9A9A;
    color: #9A9A9A;
    border-radius: 10px;
    height: 30px;
    width: 172px;
}

.TextBackBold{
    color: #373737;
    font-size: 1.1rem;
}

.CheckBox{
    display: flex;
    flex-direction: row-reverse;
    font-size: 0.8rem;
    color: #9A9A9A;
    justify-content: space-evenly;
}

.InputText{
    max-height: 80px;
    max-width: 235px;
    height: 80px;
    width: 235px;
}

.focusGreen:focus{
    color: #76A713 !important;
}

input.checkbox{
    border-radius: 0;
    border: 3px solid black;
}


@media screen and (max-width: 768px) {

    .nav-tabs{
        margin-top: 4rem;
    }

    .AvisBox{
        width: 330px;
        height: 250px; 
    }

    .Box{
        margin-top: 4rem;
        width: 330px;
    }
}

/* FOOTER */

.BoxFooter{
    margin-top: 16rem;
    width: 100%;
    height: 600px;
}

.BoxImageFooter2{
    background-image: url(img/Web1920-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: 600px;
}

.BoxSubscribe{
    display: flex;
    justify-content: center;
    height: 10rem;
    width: 100%;
}

.subscribe{
    flex-direction: column;
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 40rem;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
}

.abonner{
    margin: 1rem;
    border: none;
    background-color: #207100;
    height: 2rem;
    width: 8rem;
    border-radius: 20px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.BoxLien{
    display: flex;
    justify-content: center;
    height: 20rem;
    width: 100%;
    justify-content: space-around;
    color: white;
    list-style-type: none;
    margin-top: 2rem;
}

.TitleFooter{
    text-decoration: underline #8AAC00 3px;
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
}

.potagerPhoto{
    height:80px;
    width: 80px;
}

@media screen and (max-width: 768px){

    .BoxFooter{
        height: 800px;
    }

    .BoxImageFooter2{
        background-image: none;
        background-color: #207100;
        height: 800px;
    }

    div.subscribe{
        background-color: #8AAC00;
        width: 100%;
    }

    .subscribe{
        text-align: center;
    }

    .BoxLien{
        flex-direction: column;
        margin-top: 8rem;
    }
    
    .TitleFooter{
        margin-top: 2rem;
    }
}
