<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="css/all.css">
    <title>Local'Bio</title>
</head>

<body>
    <!--BANDEAU CONNEXION-->
    <div class="BandeauConnexion">
        <div class="container">
            <span>Bienvenue dans votre magasin</span>
            <div class="IconLogin">
                <a href="connexion.html"><i class="fas fa-user"></i></a>
                <a href="panier.html"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
    <!--FIN BANDEAU CONNEXION-->
    <!--NAVBAR-->
    <div class="NavBarBox">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="home.html">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="shop.html">Boutique</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="about.html">A propos</a>
                        </li>
                
                    </ul>
                    <a class="navbar-brand" href="#"><img src="img/localBio.png" alt="logo de la boutique"
                    class="LogoNavBar"></a>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Rechercher</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <!--FIN NAVBAR-->
    <!--PAGE ACCEUIL-->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="BoxTitle">
                        <div class="ContainerAccueil">
                            <h1 class="Title">CHOISISSEZ UN MODE DE VIE PLUS SAIN</h1>
                            <h4 class="TexteTitle">la meilleur marque pour les aliments biologique</h4>
                            <div class="BouttonAchat">
                                <a href="shop.html"><p class="TexteAchat">achetez maintenant</p></a>
                                <div class="CercleFleche">
                                    <img class="FlecheAchat" src="img/fleche.png" alt="fleche">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 OrangeBoxResponsive">
                    <div class="Orange">
                        <img class="Avocat" src="img/orange.png">
                    </div>
                    <div class="FontOrange">
                        <img class="FontAvocat" src="img/FontOrange.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="img/basilic1.png" class="basilic1">            
        <img src="img/basilic2.png" class="basilic2">                       
        <img src="img/basilic3.png" class="basilic3">                      
        <img src="img/basilic4.png" class="basilic4">                      
        <img src="img/basilic5.png" class="basilic5">
    </div>
    <div class="ImageBasPage">
        <img class="FondPage" src="img/slider.png" alt="slider">
    </div>
    <!--FIN PAGE ACCEUIL-->
    <!--HAUT PAGE 2-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="Box1gauche">
                    <div class="Box1title">
                        <h4>Bénéficiez de 10% de remise sur les légumes</h4>
                        <p class="ParagrapheBox">Achetez notre sélection de légumes frais biologiques à prix
                            réduit.
                            10% de remise sur tous les légumes.</p>
                        <div class="LienBox1">
                            <a class="TexteLienBox1" href="shop.html">achetez maintenant</a>
                        </div>
                    </div>
                    <div class="Box1Image">
                        <img src="img/banner-fixed1.png" class="LegumeImage2">
                        <img src="img/chou-fleur.png" class="LegumeImage">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="Box2Droite">
                    <div class="Box1title">
                        <h4>Obtenez des fruits frais du jardin</h4>
                        <p class="ParagrapheBox">Achetez notre sélection de légumes frais biologiques à prix
                            réduit.
                            10% de remise sur tous les légumes.</p>
                        <div class="LienBox2">
                            <p class="TexteLienBox2">achetez maintenant</p>
                        </div>
                    </div>
                    <div class="Box1Image">
                        <img src="img/farm frsh.png" class="LegumeImage2">
                        <img src="img/baie.png" class="LegumeImage">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FIN HAUT PAGE 2-->
    <!--BAS PAGE 2-->
    <div class="container containerPage2">
        <div class="row">
            <div class="col-sm-6">
                <div class="BoxGaucheImage">
                    <img src="img/about-img2.png" alt="fruitsetlégumes" class="ImageFruitsEtLegume">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="BoxDroiteTexte">
                    <p class="Pvert">~ À propos de nous ~</p>
                    <h2 class="Title2page2">Nous sommes dans une démarche de coopération avec les agriculteurs</h2>
                    <h4 class="Title4page2">Local'Bio est une entreprise familiale fondée en 2004 qui
                        gère des
                        supermarchés biologiques</h4>
                    <p class="Pgris">Bio signifie cultiver notre nourriture, qui doit nous nourrir, sans aides
                        chimiques
                        pendant le processus de croissance telles que les engrais,
                        les pesticides, les fongicides, les herbicides, les larbicides, etc.</p>
                    <div class="BoxBasPage2">
                        <div class="carotte">
                            <div class="Logocarotte">
                                <img src="img/organic-food.png">
                            </div>
                            <div class="PourquoiBio">
                                <h6 class="TitleBaspage2">Pourquoi Bio ?</h6>
                                <p class="TextBaspage2">Nous faisons de la place aux soins personnels aujourd'hui
                                    avec un
                                    plan.</p>
                            </div>
                        </div>
                        <div class="feuille">
                            <div class="Logofeuille">
                                <img src="img/organic-food2.png">
                            </div>
                            <div class="PourquoiBio">
                                <h6 class="TitleBaspage2">Produits de spécialité</h6>
                                <p class="TextBaspage2">Nous faisons de la place aux soins personnels aujourd'hui
                                    avec un
                                    plan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FIN BAS PAGE 2-->
    <div class="SliderTop"></div>
    <div class="FondPage3">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-3 col-lg-6">
                    <div class="BoxTopPage3Title">
                        <p class="Pvert">~ Catégories ~</p>
                        <h4 class="Title2page2">Les différentes catégories sont soigneusement sélectionnées par les producteurs</h4>
                    </div>
                </div>
            </div>
            <div class="row ProduitSélectionBox">
                <div class="col-lg-offset-2 col-lg-2">
                    <div class="SliderProduit1">
                        <div class="BorderColor1">
                            <div class="BoxLettre">
                                <span class="lettre">L</span>
                                <img src="img/legume.png" alt="" class="PngSlider">
                            </div>
                            <h6 class="TitleBaspage2">Les légumes</h6>
                            <p class="TextBaspage2">achats auprès des agriculteurs familiaux sélectionnés qui
                                pratique
                                l'agriculture biologique </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="SliderProduit1">
                        <div class="BorderColor2">
                            <div class="BoxLettre">
                                <span class="lettre2">F</span>
                                <img src="img/OrangeBox.png" alt="" class="PngSlider">
                            </div>
                            <h6 class="TitleBaspage2">Les fruits</h6>
                            <p class="TextBaspage2">achats auprès des agriculteurs familiaux sélectionnés qui
                                pratique
                                l'agriculture biologique </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="SliderProduit1">
                        <div class="BorderColor4">
                            <div class="BoxLettre">
                                <span class="lettre4">E</span>
                                <img src="img/poivres.png" alt="" class="PngSlider">
                            </div>
                            <h6 class="TitleBaspage2">Les épices</h6>
                            <p class="TextBaspage2">achats auprès des agriculteurs familiaux sélectionnés qui
                                pratique
                                l'agriculture biologique </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FIN PAGE3-->
    <!--FOOTER-->
    <section>
        <div class="BoxFooter">
            <div class="BoxImageFooter1"></div>
            <div class="BoxImageFooter2">
                <div class="container">
                    <div class="BoxSubscribe">
                        <div class="subscribe">
                            <span>Abonnez-vous a notre newsletter</span>
                            <button class="abonner">S'abonner</button>
                        </div>
                    </div>
                    <div class="BoxLien">
                        <div>
                            <h4 class="TitleFooter">Liens</h4>
                            <li class="LienFooter"><a href="index.html">Accueil</a></li>
                            <li class="LienFooter"><a href="shop.html">Boutique</a></li>
                            <li class="LienFooter"><a href="about.html">A propos</a></li>
                        </div>
                        <div>
                            <h4 class="TitleFooter">Informations</h4>
                            <li>48 rue de la promenade, Colmar
                            </li>
                            <li>1-888-452-1505</li>
                            <li>Heures d'ouverture:</li>
                            <li>Lun – Sam : 8h – 17h,
                                Dimanche : FERMÉ
                            </li>
                        </div>
                        <div>
                            <h4 class="TitleFooter">Instagram</h4>
                            <img src="img/potager.jpg" alt="potager" class="potagerPhoto"></img>
                            <img src="img/potager2.jpg" alt="potager" class="potagerPhoto"></img>
                            <img src="img/potager3.jpg" alt="potager" class="potagerPhoto"></img>
                            <img src="img/potager4.jpg" alt="potager" class="potagerPhoto"></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</html>