@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cardo:ital@1&family=Open+Sans:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
}

/*FENTRE DE CONNEXION*/

.row{
    display: flex;
    justify-content: center;
}

.col-lg-offset-4{
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 543px;
    width: 658px;
    margin-top: 8rem;
}

.ConnexionBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 543px;
    width: 658px;
}

.RegisterBox{
    background-color: #FBFBFB;
    height: 82px;
    width: 658px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #393535;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
}

.LienSubscribe{
    color: #76A713;
    font-size: 1.2rem;
    margin-bottom: 3px;
    margin-left: 3px;
    cursor: pointer;
    text-decoration: none;
}

.LienSubscribe:hover{
    color: #76A713;
    text-decoration: underline #76A713;
}

.TitleConnexionBox{
    border: 1px solid black;
    height: 60px;
    width: 600px;
}

.TitleConnexion{
    display: flex;
    color: #393535;
    padding: 2rem;
}

.FormConnexion{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.InputConnexion{
    border: 2px solid #ECECEC;
    border-radius: 10px;
    margin: 1rem;
    height: 40px;
}

.InputConnexion:focus-visible, .InputConnexion:focus{
    outline: none;
    transition: 0.3s; width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

input[placeholder]{
    text-align: center;
}

.ConnexionSubmit{
    background-color: #76A713;
    color: white;
    border: 1px solid ;
    border-radius: 35px;
    margin-top: 3rem;
    width: 180px;
    height: 44px;
    font-size: 1.2rem;
    cursor: pointer;
}

.ForgotPassword{
    color: #393535;
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    text-decoration: none;
    cursor: pointer;
}

.ForgotPassword:hover{
    color: #393535;
    text-decoration: underline #393535;
}

@media screen and (max-width: 736px) {

    .col-lg-offset-4{
        margin-top: 0;
        box-shadow: none;
    }

    .ConnexionBox{
        height: 600px;
        width: auto;
    }

    .TitleConnexion{
        text-align: center;
    }

    .RegisterBox{
        width: auto;
        text-align: center;
        box-shadow: none;
    }

    a.ForgotPassword{
        padding-top: 3rem;
    }
}