@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cardo:ital@1&family=Open+Sans:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
}

/*BANDEAU CONNEXION*/

.BandeauConnexion{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #76A713;
    color: white;
    height: 3rem;
}

.IconLogin{
    display: inline-flex;
    float: right;
}

.fa-user{
    margin-right: 8px;
    text-decoration: none;
    color: white;
}
.Bienvenue{
    position: absolute;
}

@media screen and (max-width: 736px) 
{ 
    .BandeauConnexion{
        height: 2rem;
    }

}

/*FIN BANDEAU CONNEXION*/

/*NAVBAR*/

.NavBarBox{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.bg-light{
    background-color: white !important;
}

.btn.btn-outline-success{
    border-color: #76A713;
    color: #76A713;
}
.btn.btn-outline-success:hover{
    background-color: #76A713;
    color: white;
}

a.nav-link{
    font-size: 1.5rem;
    color: black;
}

@media screen and (max-width: 768px) 
{ 
    a.nav-link{
        font-size: 1rem;
    }
}

.row{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 600px;
}

.btn-primary{
    background-color: #75A712;
    border-color: #75A712;
    margin-left: 50%;
    margin-top: 2rem;
}

.btn-primary:hover{
    background-color: #75A712 !important;
    border-color: #75A712;
}