.NavBarBox{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.bg-light{
    background-color: white !important;
}

.btn.btn-outline-success{
    border-color: #76A713;
    color: #76A713;
}
.btn.btn-outline-success:hover{
    background-color: #76A713;
    color: white;
}

a.nav-link{
    font-size: 1.5rem;
    color: black;
}

.navbar-brand{
    margin-right: 17%;
}

.LogoNavBar{
    height: 60px;
    width: 270px;
    margin-right: 240px;
}
.container .bg-light{
    background-color: white !important;
}
@media screen and (max-width: 768px) 
{ 
    a.nav-link{
        font-size: 1rem;
    }
}