@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cardo:ital@1&family=Open+Sans:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
}

/*ARCTICLE*/

.BoxChoice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.fa-th{
    margin-right: 1rem;
}

.col-lg-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-right: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 380px;
    width: 300px;
    padding: 0;
}

.BorderBoxGreen{
    height: 340px;
    width: 260px;
    border: 2px solid #76A713;
}

.BorderBoxGreen:hover{
    height: 380px;
    width: 300px;
}

.ArticleAchat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: #707070;
}

.ImgArticle{
    height: 150px;
    width: 150px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.TitleArticle{
    font-size: 1.5rem;
}

.BouttonAchatArticle{
    background-color: #8AAC00;
    border-radius: 1rem;
    border-style: none;
    height: 1.8rem;
    width: 9rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    cursor: pointer;
}

.SpanAchat{
    margin-bottom: 3px;
}

.Categorie{
    margin-top: 5rem;
    margin-left: 6rem;
    height: 361px;
    width: 190px;
}


.TitleCategorie{
    text-decoration: underline #8AAC00 3px;
    font-size: 1.5rem;
    color: rgb(5, 3, 3);
    margin-bottom: 1rem;
}

.ChoixCategorieListe{
    list-style: none;
    cursor: pointer;
}

.ChoixCategorieNom{
    margin-top: 2rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.ChoixCategorieNom :visited{
    text-decoration: white;
    color: black;
}

.ChoixCategorieNom:nth-child(1):hover{
    color: #8AAC00;
}

.ChoixCategorieNom:nth-child(2):hover{
    color: #FF7800;
}





.fa-angle-right{
    margin-right: 1rem;
}

@media screen and (max-width: 768px) 
{ 

    .row{
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .BoxChoice{
        flex-direction: column;
        align-items: flex-start;
    }

    .IconChoice{
        display: none;
    }

    .RechercherProduit{
        margin-top: 1rem;
    }

    .Trie{
        margin-top: 1rem;
    }

    .col-lg-2{
        margin-left: 1.6rem;
        justify-content: center;
        align-items: center;
    }

    .Categorie{
        display: none;
    }
}