<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local'Bio</title>
    <link rel="stylesheet" type="text/css" href="boxAvis.css" media="all">
</head>
<body>
    <div class="Box">
        <p class="TextBackBold">Votre adresse email ne sera pas publiée. Les champs obligatoires sont marqués</p>
        <p class="TextBackBold">Votre avis :</p>
        <textarea class="InputText greenFocus"></textarea>
        <label name="Name"></label>
        <input type="text" name="Name" placeholder="Nom" class="Inputform">
        <label name="Email"></label>
        <input type="email" placeholder="E-mail" class="Inputform ">
        <input type="submit" value="Envoyer" class="ButtonSubmit"> 
        <div class="CheckBox">
            <label name="CheckBox">Enregistrez mon nom, mon e-mail et mon site Web dans ce navigateur pour mon prochain commentaire.</label>
            <input type="checkbox" class="CheckBoxStyle">
        </div>
        
    </div>
</body>
</html>